<?xml version="1.0"?>
<model>
  <name>x500_lidar_camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Abdullah GM</name>
    <email>agm.musalami@gmail.com</email>
  </author>
  <description>A x500 drone with a lidar and a gimbal camera</description>
</model>
